DB_USERNAME=nombre_usuario
DB_PASSWORD=contraseña_usuario
DB_URL=jdbc:mysql://localhost:3306/nombre_base_de_datos
CORS_ORIGINS=http://localhost:5173,https://tudominio.com

FIREBASE_SERVICE_ACCOUNT=src/main/resources/nombre_ruta_archivo_firebase.json